<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yachts</title>
</head>
<body>

    <h1 style="text-align: center">Scraped boats</h1>

    <h3 style="text-align: center">Liste des Yachts : </h3>
        <div class="yachts" style="display: flex; flex-wrap: wrap;justify-content: center">
        <% yachts.each do |yacht| %>
            <div class="yacht" style="border: 2px solid black;width: 20%">
                <p>Nom : <%= yacht.data["name"] %></p>
                <p>Description : <%= yacht.data["description"] %></p>
                <p>Condition : <%= yacht.data["condition"] %></p>
                <p>Prix : <%= yacht.data["price"] %><%= yacht.data["taxation"] %></p>
                <p>Année : <%= yacht.data["year"] %></p>
                <p>Largeur : <%= yacht.data["width"] %></p>
                <p>Longeur : <%= yacht.data["length"] %></p>
            </div>
        <% end %>
    </div>

</body>
</html>