<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Scraped boats</h1>

    <h3>Liste des Yatchs : </h3>
    <% yatchs.each do |yatch| %>
        <p><%= yatch.name %></p>
        <p><%= yatch.description %></p>
        <p><%= yatch.price %></p>
        <p><%= yatch.taxation %></p>
        <p><%= yatch.year %></p>
        <p><%= yatch.width %></p>
        <p><%= yatch.length %></p>
    <% end %>

</body>
</html>